[project]
	description = Simple examples how to use MULE ESB
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Vitaliy (VSaliy)
[access "refs/for/refs/*"]
	read = group user/Vitaliy (VSaliy)
	push = group user/Vitaliy (VSaliy)
	label-Code-Review = -2..+2 group user/Vitaliy (VSaliy)
	label-Verified = -1..+1 group user/Vitaliy (VSaliy)
	rebase = group user/Vitaliy (VSaliy)
	removeReviewer = group user/Vitaliy (VSaliy)
	submit = group user/Vitaliy (VSaliy)
[access "refs/heads/*"]
	read = group user/Vitaliy (VSaliy)
	create = group user/Vitaliy (VSaliy)
	push = +force group user/Vitaliy (VSaliy)
	pushMerge = group user/Vitaliy (VSaliy)
[access "refs/tags/*"]
	push = +force group user/Vitaliy (VSaliy)
	pushTag = group user/Vitaliy (VSaliy)
	pushSignedTag = group user/Vitaliy (VSaliy)
